#notice {
    align-items: center;
    text-align: center;
    border: 2px solid blue;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100px;
    width: 400px;
}