#backDiv {
    border-color: #0ccd02;
    border-width: 2px;
    border-style: solid;
    position: center;
    display: flex;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.infoDiv {
    display: flex;
    height: 35px;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
}

#label::after {
    content: "*";
    color: red;
}

.info {
    padding: 5px;
    text-align: center;
    margin-left: 10%;
}

#btnDiv {
    height: 35px;
    margin-bottom: 5%;
}

form {
    position: center !important;
    width: 90%;
    margin-left: 8%;
    margin-right: 8%;
}

#label {
    width: 120px;
    border: 2px solid #0ccd02;
    color: white;
    background: #0ccd02;
    padding: 5px;
    text-align: center;
}

#labelH {
    width: 120px;
    border: 2px solid #0ccd02;
    color: white;
    background: #0ccd02;
    padding: 5px;
    text-align: center;
}

.fillLabel {
    width: 120px;
    border: 2px solid #0ccd02;
    color: white;
    background: #0ccd02;
    padding: 5px;
    text-align: center;
    margin-bottom: 0px;
    block-size: fit-content;
}

#input {
    border: 2px solid #0ccd02;
    margin-left: 10%;
    width: 55%;
}

#img {
    border: 2px solid #fdfdfd;
    margin-left: 10%;
    width: 55%;
}

#inputdate {
    border: 2px solid #0ccd02;
    margin-left: 10%;
    width: 55%;
}

#radioBtn {
    margin-left: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btnDiv {
    text-align: center;
}

#error {
    color: red;
}

#submitId {
    border-color: #0ccd02;
    border-width: 2px;
    border-style: solid;
    background-color: #0ccd02;
}

.imgInfo {
    margin-left: 50px;
}

.imgShow {
    margin-left: 10%;
}

#cfmBtn {
    text-align: center;
    margin-top: 60px;
    height: 35px;
    margin-bottom: 5%;
}

#notice {
    position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
    border: 2px solid blue;
    margin-top: 100px;
    height: 200px;
    width: 500px;
}

table,
th,
td {
    margin: 30px;
}

th,
td {
    padding-left: 60px;
}

.btn1 {
    border: 2px;
    border-color: #0ccd02;
    background-color: #0ccd02;
}

.searchDiv {
    display: flex;
    height: 35px;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
}

select {
    float: right;
}

.label {
    margin-left: 0px;
}

.fillInfo {
    margin-right: 0px;
    margin-left: auto;
}

.btn1 {
    background: #0ccd02 !important;
    border: 2px solid #0ccd02 !important;
    border-color: #0ccd02 !important;
}

.btn2 {
    background: #0ccd02 !important;
    color: white !important;
    border-radius: 0px !important;
    border-color: #0ccd02;
}